@model CodeCampNyc.WebApp.Models.AggregationsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aggregations</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
